
.theme {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.theme__fill,
.theme__icon {
    transition: 0.3s ease-in-out;
}

.theme__fill {
    display: block;
    mix-blend-mode: difference;
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translateX(-100%);
    pointer-events: none;
    z-index: 9999;
}

.theme__toggle-wrap {
    position: relative;
    display: inline-block;
}

.theme__toggle {
    background-color: hsl(48, 90%, 85%);
    border-radius: 1rem;
    box-shadow: 0 0 0 0.0625rem rgba(73, 230, 25, 0.1);
    padding: 0.2rem;
    width: 3.2rem;
    height: 1.6rem;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out,
        box-shadow 0.15s ease-in-out;
    position: relative;
    display: block;
    border: none;
    z-index: 1;
}

.theme__toggle:before {
    background-color: hsl(48, 90%, 55%);
    border-radius: 50%;
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.theme__icon {
    position: absolute;
    top: 52%;
    left: 0.35rem;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.theme__icon mat-icon {
    position: absolute;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.theme__icon mat-icon:first-child {
    color: hsl(48, 90%, 35%);
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

.theme__icon mat-icon:last-child {
    color: hsl(198, 90%, 85%);
    opacity: 0;
    transform: rotate(180deg) scale(0);
}

.theme__toggle:focus {
    box-shadow: 0 0 0 0.0625rem #49e619;
    outline: transparent;
}

/* Checked (Dark Mode) */
.theme__toggle:checked {
    background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked:before {
    background-color: hsl(198, 90%, 55%);
    transform: translateX(1.6rem);
}

.theme__toggle:checked~.theme__icon {
    transform: translateX(1.6rem) translateY(-50%);
}

.theme__toggle:checked~.theme__icon mat-icon:first-child {
    opacity: 0;
    transform: rotate(-180deg) scale(0);
}

.theme__toggle:checked~.theme__icon mat-icon:last-child {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

@supports selector(:focus-visible) {
    .theme__toggle:focus {
        box-shadow: 0 0 0 0.0625rem rgba(73, 230, 25, 0.1);
    }

    .theme__toggle:focus-visible {
        box-shadow: 0 0 0 0.0625rem #49e619;
    }
}