<app-manager-layout>
    <div class="mx-auto w-auto flex flex-col overflow-hidden">
        <div class="flex flex-col max-w-auto z-10 relative">
            <!-- Page Heading -->
            <div class="flex flex-col gap-3 mb-8">
                <h1 class="text-primary text-4xl font-black leading-tight tracking-[-0.033em]">Add New Complex</h1>
                <p class="text-black dark:text-white text-lg font-normal leading-normal">Enter the details below to list
                    your facility for booking. Fields marked with <span class="text-accent">*</span> are required.
                </p>
            </div>
            <!-- Form Card -->
            <app-complex-form></app-complex-form>
        </div>
    </div>
</app-manager-layout>